name: Build Solutions

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    paths:
      - '**/*.cs'
      - '**/*.csproj'
      - '**/*.sln'
      - '**/*.vcxproj'
      - '**/*.config'
      - '**/*.resx'
      - '**/*.xaml'
      - '**/*.json'
      - '**/*.xml'
      - '.github/workflows/build-dotnet.yml'

jobs:
  get_dotnet_solutions:
    runs-on: windows-latest
    outputs:
      matrix: ${{ steps.build_solutions_list.outputs.projects }}
    steps:
      - id: checkout
        uses: actions/checkout@v4

      - id: build_solutions_list
        run: |
          # Only find .NET solutions (exclude C++ .vcxproj solutions)
          delimiter="$(openssl rand -hex 8)"
          solutions_as_json=$(find . -type f -name "*.sln" ! -name "AGRakClient.sln" | jq -R -s -c 'split("\n")[:-1]')
          echo "projects<<${delimiter}" >> "${GITHUB_OUTPUT}"
          echo "$solutions_as_json" >> "${GITHUB_OUTPUT}"
          echo "${delimiter}" >> "${GITHUB_OUTPUT}"

  build_dotnet_solutions:
    runs-on: windows-latest
    needs: get_dotnet_solutions
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        solutions: ${{ fromJson(needs.get_dotnet_solutions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

